{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/app.css" %}">
<div class="container">
    <div class="row">
        {% if sum_unrw_apps != 0 %}
        <div class="col-sm">
            <h2> Нерасмотренные заявки </h2>
                <div class="apps">
                    {% for app in unreviewed_apps %}
                    <a href="{% url 'festival_app:view-app-censor' app.slug %}">
                        <h4> Заявка №{{ app.id}} </h4>
                        <p>Имя группы/исполнителя: {{ app.name }}</p>
                        <p>Желаемый день: {{ app.get_performance_day_display }}</p>
                        <p>Формат выступления: {{ app.get_format_display }}</p>
                    </a>
                    {% endfor %}
                </div>
        </div>
        {% endif %}
        <div class="col-sm">
            <h2>Одобренные заявки</h2>
                <div class="apps">
                    {% for app in accepted_apps %}
                    <a href="{% url 'festival_app:view-app-censor' app.slug %}">
                        <h4> Заявка №{{ app.id}} </h4>
                        <p>Имя группы/исполнителя: {{ app.name }}</p>
                        <p>Желаемый день: {{ app.get_performance_day_display }}</p>
                        <p>Формат выступления: {{ app.get_format_display }}</p>
                    </a>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
<hr>
<nav aria-label="Пагинация">
    <ul class="pagination justify-content-lg-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Назад</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
        </li>
        {% endif %}


        {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                </li>
            {%  elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                </li>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперед</a>
        </li>
        {% endif%}
    </ul>
</nav>
{% endblock content %}

