{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">

<div class="way">
    <h2>Как доехать.</h2>
    <p>Если вы из Краснодарского края, то вам будет легко добраться.
        Мы находимся за новым Краснодаром, по адресу Лесная 64, по указателям вы попадете к сцене "Арбузик".
        Если вам нужно на другую сцену, то ежайте дальше по указателям. 
        Если вы из другого региона, то вы можете подать заявку ТЦ и доехать на нашем автобусе. 
        У вас еще есть вопросы? Позвоните нам по телефону +79*********.
    </p>
</div>


{% endblock content %}